@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



body {
  /* 기본(공통) 스타일 */
  font-family: 'NanumSquare';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
  /* 위 속성들은 모두 상속되기에 전체 스타일을 한번에 제어 */
  overflow-x: hidden;
}
a{
  text-decoration: none;
}
img {
  /* 이미지가 인라인 요소라서 발생하는 문자 기준선(Baseline) 아래의 공간을 제거하기 위해 */
  display: block;
}

.inner {
  max-width: 1100px;
  margin: 0 auto;
}
.main-text {
  font-family: 'yg-jalnan';
  font-size: 40px;
  color: #ff5484;
  /* font-weight: bold; */
}
.main-description {
  font-family: 'NanumSquare';
  font-size: 14px;
  color: #858585;
  margin-bottom: 40px;
  font-weight: 700;
}

header {
  width: 100%;
  height: 90px;
  transition: 0.5s;
  z-index: 10;
  position: fixed;
}
header:hover {
  background-color: #f986bd;
}
header.scroll_on {
  background-color: #f986bd;
}
header > .inner {
  display: flex;
  justify-content: space-between;
  line-height: 90px;
}
header .inner .menu-group .logo {
  background-image: url("../image/h_logo.png");
  width: 52px;
  height: 60px;
  top: 10px;
  left: 0px;
}

header:hover .inner .menu-group .logo {
  background-image: url("../image/h_logo_white.png");
  background-repeat: no-repeat;
}
header.scroll_on .inner .menu-group .logo {
  background-image: url("../image/h_logo_white.png");
  background-repeat: no-repeat;
}
header .inner .menu-group {
  display: flex;
  align-items: center;
}
header .main-menu {
  display: flex;
  margin-left: 42px;
}
header .main-menu .item .item__name {
  color: #37271f;
  font-weight: 900;
  padding: 10px;
  font-size: 13px;
}
header:hover .main-menu .item .item__name {
  color: #fff;
}
header.scroll_on .main-menu .item .item__name {
  color: #fff;
}
header .main-menu .item .item__name:hover {
  color: #37271f;
}
header .main-menu .item .item__contents {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  height: 150px;
  left: 0;
  display: none;
}
header .main-menu .item:hover .item__contents {
  display: flex;
  align-items: center;
  line-height: 1.4;
  text-align: left;
}

header .main-menu .item__contents .inner {
  display: flex;
  justify-content: space-between;
  width: 1100px;
}

header .main-menu .item__contents .inner a {
  font-size: 22px;
  font-weight: 900;
  padding: 0 16px;
  cursor: pointer;
  color: #37271f;
}

header .main-menu .item__contents .inner a:hover {
  color: #ff4d72;
}

header .main-menu .item__contents .inner li ul {
  display: flex;
}

header .main-menu .item__contents .inner li ul > li {
  font-size: 17px;
  padding: 5px 10px;
  font-weight: 900;
  color: #969291;
}
header .main-menu .item .item__contents > ul > li ul li:hover {
  color: #ff4d72;
  cursor: pointer;
}
header .search_login {
  display: flex;
  line-height: 17px;
}

header .search_login .search {
  width: 128px;
  height: 30px;
  margin: auto 0;
  padding: 0 10px;
  text-align: right;
  border-bottom: 2px solid #f986bd;
}
header .search_login .search span {
  color: #f986bd;
  font-size: 30px;
}
header:hover .search_login .search {
  border-bottom: 2px solid #fff;
}
header.scroll_on .search_login .search {
  border-bottom: 2px solid #fff;
}
header:hover .search_login .search span {
  color: #fff;
}
header.scroll_on .search_login .search span {
  color: #fff;
}
header .search_login .login {
  padding: 0 10px;
}
header .search_login .login > ul li > .login_seb {
  border: 2px solid #f986bd;
  background-color: #fff;
  border-radius: 5px;
  font-size: 10px;
  text-align: center;
  position: relative;
  top: 60px;
  right: 17px;
  display: inline-block;
  opacity: 0;
  transition: 0.5s;
}
header .search_login .login > ul li > .login_seb.active {
  opacity: 1;
}
header .search_login .login > ul li > .login_seb > li {
  padding: 5px;
  font-weight: 900;
  cursor: pointer;
}
header .search_login .login span {
  color: #37271f;
  font-size: 30px;
  position: absolute;
  top: 30px;
}
header:hover .search_login .login span {
  color: #fff;
}
header.scroll_on .search_login .login span {
  color: #fff;
}


.visual {
  background-image: url("../image/bg_hero.jpg");
  width: 100%;
  height: 680px;
  top: 0;
  z-index: 1;
}

.visual .inner .visual-main {
  background-image: url("../image/bg_hero_frame.png");
  width: 1100px;
  height: 610px;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  top: 20px;
}

.visual .inner .visual-main .visual-promotion {
  position: absolute;
  top: 10%;
  right: 3%;
  transition: 2s;
  
}

.visual .inner .visual-main .visual-promotion img {
  width: 220px;
  margin: 20px 0;
  transition: 2s;
}

.visual .inner .visual-main .visual-promotion .btn-close {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  position: absolute;
  bottom: 25px;
  left: -25px;
  cursor: pointer;
  opacity: 0.9;
  background-color: #fff;
}
.visual .inner .visual-main .visual-promotion.hide {
  right: -110px;
}
.visual .inner .visual-main .visual-promotion.hide img {
  opacity: 0;
}
.visual .inner .visual-main .visual-promotion.hide .btn-close span {
  transform: rotate(45deg);
}

/* Promotion */

.promotion {
  width: 100%;
  height: 520px;
  background-color: #fff;
  padding: 80px 0;
}

.promotion > .inner {
  text-align: center;
  
}

.promotion .swiper img {
  height: 200px;
  border-radius: 50% 50% 0 0;
}

.promotion-date {
  color: #d9bb97;
  font-size: 14px;
  margin: 20px 0;
}

.promotion-text {
  font-size: 14px;
  text-align: left;
  padding-top: 40px;
  border-top: 2px solid #f0e7d9;
}

.promotion .swiper .swiper-slide {
  cursor: pointer;
}
.promotion .swiper-pagination {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: -30px;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background-color: #f889a3;
  margin: 0 10px;
  cursor: pointer;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: transparent;
  width: 27px;
  height: 32px;
  background-image: url('../image/icon_bullet_active.png');
  background-repeat: no-repeat;
  overflow: visible;
  border-radius: 0%;
}

.new-item {
  width: 100%;
  height: 660px;
  background-color: #ffe4ea;
  padding: 80px 0;
}

.new-item .inner {
  width: 100%;
  text-align: center;
}

.new-item .swiper {
  width: 100%
}

.new-item .swiper .swiper-slide {
  display: flex;;
}
.new-item .swiper .swiper-slide .new-item-right {
  height: 100%;
  width: 30%;
  margin-right: 5px;
  cursor: pointer;
}
.new-item .swiper .swiper-slide .new-item-right img {
  border-radius: 15px;
  width: 100%;
  height: 516px;
}

.new-item .swiper .swiper-slide .new-item-left {
  display: flex;
  width: 70%;
}
.new-item .swiper .swiper-slide .new-item-left .new-item-left-1 {
  margin-right: 5px;
}
.new-item .swiper .swiper-slide .new-item-left .new-item-frame {
  display: flex;
  background-color: #fff;
  width: 100%;
  border-radius: 15px;
  position: relative;
  margin-bottom: 5px;
  cursor: pointer;
}
.new-item .swiper .swiper-slide .new-item-left .new-item-frame-textbox {
  padding: 30px 30px 80px;
  text-align: left;
}
.new-item .swiper .swiper-slide .new-item-left .new-item-frame > img {
  border-radius: 15px;
}

.btn-item {
  width: 40px;
  height: 40px;
  background-color: #ff2727;
  color: #fff;
  border-radius: 50%;
  border: none;
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}
.new-item .swiper-pagination {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: -30px;
}

.br-play {
  background-image: url('../image/bg_play.jpg');
  width: 100%;
  height: 740px;
  padding: 80px 0;
  position: relative;
  overflow: hidden;
}

.br-play::before {
  position: absolute;
  content: url('../image/bg_play_light.png');
  top: 40px;
  left: 50%;
  width: 1689px;
  height: 869px;
  margin-left: -845px;
}

.br-play .inner {
  width: 100%;
  text-align: center;
}
.br-play .inner .header {
  position: relative;
  top: 60px;
}
.br-play .inner .main-text,
.br-play .inner .main-description {
  color: #37110e;
}
.br-play .inner .img-group {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 100px;
  position: relative;
}


.be-better {
  background-color:  #f4e8df;
  width: 100%;
  height: 600px;
  padding: 80px 0;
  position: relative;
}

.be-better .inner {
  width: 100%;
  height: 100%;
  text-align: center;
}

.be-better .inner .bb-container {
  display: flex;
  gap: 10px;
}

.bb-item {
  /* border: 2px solid red; */
  display: flex;
  background-color: #fff;
  width: 100%;
  border-radius:15px;
  margin-bottom: 10px;
  cursor: pointer;
}
.bb-item img {
  width: 55%;
}
.bb-item .bb-item-text {
  padding: 40px 20px;
  text-align: left;
}
.bb-item .bb-item-text span {
  font-size: 22px;
  font-weight: 900;
}
.bb-item .bb-item-text p {
  font-size: 11px;
  font-weight: 700;
}

.br-benefit {
  width: 100%;
  height: 307px;
  padding-top: 80px;
  background-color: #fff;
}

.br-benefit .inner {
  text-align: center;
}

.br-benefit .inner .swiper .swiper-wrapper .swiper-slide img {
  width: 190px;
  height: 190px;
  border-radius: 15px;
  cursor: pointer;
}


.store-brway {
  width: 100%;
  height: 440px;
}

.store-brway .inner {
  display: flex;
  justify-content: space-between;
  padding: 80px 0 0 10px;
  align-items: center;
}

.store-brway .store,
.store-brway .br-way {
  padding: 0 40px;
}

.store-brway .store .header,
.store-brway .br-way .header {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* position: absolute; */
}
.store-brway .br-way .header {
  position: relative;
  bottom: -37px;
}
.store-brway .store img,
.store-brway .br-way img {
  width: 100%;
  position: relative;
  cursor: pointer;
}

.store-brway .br-way img {
  margin-top: -29px;
}

.store-brway .store .header p.main-description,
.store-brway .br-way .header p.main-description{
  margin-bottom: 0;
  margin-left: 7px;
  z-index: 1;
}
footer {
  width: 100%;
  height: 500px;
  background-color: #1c1b18;;
}
footer .footer-nav {
  display: flex;
  font-size: 10px;
  height: 40px;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #333;
  align-items: center
}
footer .footer-nav li a {
  color: #fff;
  padding: 10px;
}

footer .footer-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #333;
}
footer .footer-container {
  padding: 30px 0 0;
}

footer .footer-container .info p { 
  font-size: 10px;
  font-weight: 700;
  margin-top: 10px;
}
footer .footer-container .info .copyright {
margin-top: 40px;
color: #bbbbbb;
font-weight: 700;
}
footer .footer-container .menu-list > ul {
  display: flex;
}
footer .footer-container .menu-list > ul > li {
  font-size: 18px;
  font-weight: 700;
  padding: 17px 10px;
}
footer .footer-container .menu-list > ul > li ul li {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  margin-top: 15px;
  cursor: pointer;
}

footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

footer .footer-bottom .footer-bottom-left {
  display: flex;
}

footer .footer-bottom .footer-bottom-left > img {
  margin-right: 20px;
  cursor: pointer;
}

footer .footer-bottom .footer-bottom-right {
  display: flex;
  cursor: pointer;

}

footer .footer-bottom .footer-bottom-right > img {
  margin-right: 50px;
}